services:
  sqlserver:
    user: root
    image: mcr.microsoft.com/mssql/server:${MSSQL_IMAGE_VERSION:-2022-latest}
    container_name: ${MSSQL_CONTAINER_NAME:-sqlserver_server}
    restart: ${MSSQL_RESTART:-always}
    ports:
      - "${MSSQL_PORT:-1433}:1433"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "${MSSQL_SA_PASSWORD}" # username: sa
      MSSQL_PID: "${MSSQL_PID:-Developer}" # Developer | Express | Standard | Enterprise
      TZ: "${MSSQL_TZ:-Asia/Jakarta}"
    volumes:
      - ${MSSQL_DATA_PATH:-.}/.mssql:/var/opt/mssql
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P $$MSSQL_SA_PASSWORD -Q 'SELECT 1' -C || exit 1",
        ]
      interval: ${MSSQL_HEALTHCHECK_INTERVAL:-10s}
      timeout: ${MSSQL_HEALTHCHECK_TIMEOUT:-5s}
      retries: ${MSSQL_HEALTHCHECK_RETRIES:-10}
